<mat-grid-list [cols]="breakpoint" rowHeight="700px" (window:resize)="onResize($event)">

  <mat-grid-tile *ngFor="let item of items" class="tile">
      <mat-card class="item">
        <mat-card-header>
          <mat-card-title>{{item.category}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="item-content">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-chip-list class="attribute">
                Size: <mat-chip>{{item.size}}</mat-chip>
              </mat-chip-list>
              <mat-chip-list class="attribute">
                Age: <mat-chip>{{item.age}}</mat-chip>
              </mat-chip-list>
              <mat-chip-list class="attribute">
                Catagory: <mat-chip>{{item.category}}</mat-chip>
              </mat-chip-list>
              <br><mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
            <button id="request" mat-stroked-button [disabled]="item.isDisabled" (click)="onRequest(item)">Request</button>
        </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

<!-- <mat-card *ngFor="let item of items" class="item">
  <mat-card-header>
    <mat-card-title>{{item.category}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="item-content">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card class="attribute-top">
        <mat-chip-list>
          Size: <mat-chip>{{item.size}}</mat-chip>
        </mat-chip-list>
    </mat-card>
    <mat-card class="attribute">
        <mat-chip-list>
          Condition: <mat-chip>{{item.condition}}</mat-chip>
        </mat-chip-list>
    </mat-card>
    <mat-card class="attribute">
        <mat-chip-list>
          Season: <mat-chip>Spring</mat-chip>
          <mat-chip>Summer</mat-chip>
          <mat-chip>Fall</mat-chip>
          <mat-chip>Winter</mat-chip>
        </mat-chip-list>
    </mat-card>
  </mat-card-content>
  <mat-card-actions>
      <button id="request" mat-stroked-button>Request</button>
  </mat-card-actions>
</mat-card>
-->
