
<mat-grid-list cols="4" rowHeight="1:1" gutterSize="1em">
  <mat-grid-tile>
    <img src="../../assets/images/jacket.jpg" alt="jacket" >
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/images/pants.jpg" alt="pants">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/images/shoes.jpg" alt="shoes">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/images/tshirt.jpg" alt="tshirt">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="../../assets/images/buttonDown.jpg" alt="button down shirt">
  </mat-grid-tile>
</mat-grid-list>
