<mat-toolbar color="primary" class="project-toolbar">
  <button mat-icon-button routerLink="/"><mat-icon>home</mat-icon></button>
  <h1 class="project-app-name">Pirate Pete's Closet</h1>
  <span class="example-spacer"></span>
  <button mat-icon-button class="shopping-cart" routerLink="/creation"><mat-icon>edit</mat-icon></button>
  <button mat-icon-button class="shopping-cart" routerLink="/request"><mat-icon>shopping_cart</mat-icon></button>
</mat-toolbar>

<div class="main">
  <div class="stepper">
    <p class="title">Register an Item</p>
    <p class="subtitle">This information will help others find what they need.</p>

    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>About the item</ng-template>
          <div class="stepper-content">
            <mat-form-field appearance="outline">
              <mat-label>Short Item Title</mat-label>
              <input matInput formControlName="title">
              <mat-hint>Blue sweater, Pink shoes, etc.</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" >
              <mat-label>Age</mat-label>
              <mat-select formControlName="age">
                <mat-option value="Pre-K">Pre-K</mat-option>
                <mat-option value="Elementary">Elementary Age</mat-option>
                <mat-option value="Middle School">Middle School Age</mat-option>
                <mat-option value="High School">High School Age</mat-option>
                <mat-option value="Adult">Adult</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Sizing</mat-label>
              <mat-select formControlName="size">
                <mat-option value="One Size">One Size Fits All</mat-option>
                <mat-option value="Small">Small</mat-option>
                <mat-option value="Medium">Medium</mat-option>
                <mat-option value="Large">Large</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Item Type</mat-label>
              <input matInput formControlName="category">
              <mat-hint>Sweater, Pants, Gloves, etc.</mat-hint>
            </mat-form-field>
          </div>
        </form>
        <div class="stepper-movement-container">
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="stepper.previous()">Back</button>
          <button mat-button (click)="stepper.next()">Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Image of Item</ng-template>
          <div class="webcam-and-image-container">
            <div class="webcam-and-image" #webcamContainer>
              <webcam [width]="webcamContainer.clientWidth" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
            </div>
            <span class="fill-span"></span>
            <img class="webcam-and-image" [src]="webcamImage.imageAsDataUrl" *ngIf="webcamImage"/>
          </div>
          <br/>
          <div class="horizontal-alignment-container">
            <button mat-button (click)="triggerSnapshot()">
              <mat-icon>camera_alt</mat-icon>
              Take Picture
            </button>
          </div>
        </form>
        <div class="stepper-movement-container">
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="stepper.previous()">Back</button>
          <button mat-button (click)="stepper.next()">Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Barcode Logging</ng-template>
          <div class="stepper-content">
            <mat-form-field appearance="outline">
              <mat-label>Barcode</mat-label>
              <input matInput formControlName="barcode">
              <mat-hint>Use a barcode scanner or type.</mat-hint>
            </mat-form-field>
          </div>
        </form>
        <div class="stepper-movement-container">
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="stepper.previous()">Back</button>
          <button mat-button (click)="stepper.next()">Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        Completed! Start again or go home.
        <div class="stepper-movement-container">
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button (click)="stepper.previous()">Back</button>
          <button mat-button (click)="sendData()" routerLink="/main">Done</button>
        </div>
        <div>
          <mat-label id='err'></mat-label>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
