<div class="project-container" [class.project-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="project-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="project-app-name">Pirate Pete's Closet</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button class="shopping-cart" routerLink="/creation"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button class="shopping-cart" routerLink="/request"><mat-icon matBadge={{badgeRequests}} matBadgeColor="warn">shopping_cart</mat-icon></button>

  </mat-toolbar>

  <mat-sidenav-container class="filter-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-list>
        <h3 mat-subheader>Sort by Age:</h3>
        <div class="season-boxes">
          <mat-checkbox>No Age</mat-checkbox>
          <mat-checkbox>Pre-K Age</mat-checkbox>
          <mat-checkbox>Elementary School Age</mat-checkbox>
          <mat-checkbox>Middle School Age</mat-checkbox>
          <mat-checkbox>High School Age</mat-checkbox>
          <mat-checkbox>Adult Age</mat-checkbox>
        </div>
      </mat-list>
      <mat-list>
        <h3 mat-subheader>Sort by Catagory:</h3>
        <div class="school-boxes">
          <mat-checkbox>Tops</mat-checkbox>
          <mat-checkbox>Bottoms</mat-checkbox>
          <mat-checkbox>Jacket and Coats</mat-checkbox>
          <mat-checkbox>Other</mat-checkbox>
        </div>
      </mat-list>
      <mat-list>
        <h3 mat-subheader>Sort by Size:</h3>
        <div class="size-boxes">
          <mat-checkbox>One size fits all</mat-checkbox>
          <mat-checkbox>Extra Small</mat-checkbox>
          <mat-checkbox>Small</mat-checkbox>
          <mat-checkbox>Medium</mat-checkbox>
          <mat-checkbox>Large</mat-checkbox>
          <mat-checkbox>Extra Large</mat-checkbox>
        </div>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-body">
        <app-item (messageEvent)="receiveMessage($event)"></app-item>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
