.body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:"header header header"
                      "left main right"
                      "bottom bottom bottom";
}
.list-view {
  grid-column-start: main;
  grid-row-start: main;
}
button{
  align: center;
}
h1.project-app-name {
  margin-left: 8px;
}

.shopping-cart {
  padding: 0 0px;
  margin-right: 20px;
}
.example-spacer {
  flex: 1 1 auto;
}
